<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Let's Make Some apps Together!! Sample App</h1>
    <h2>This is the twitter like application that I was telling you about.
      Understanding how to create users/logins/sessions/security systems 
      ad storing information in databases is huge in web site dev.
      I'm pumped to make some applications with you.
    </h2>



    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("brent.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>